PORT=4000
DB_HOST=localhost
DB_USER=root
DB_PASSWORD=
DB_NAME=bd_hostal
JWT_SECRET=bd_hostal
BACKEND_URL=http://localhost:4000

GOOGLE_CLIENT_ID=xxxxx
GOOGLE_CLIENT_SECRET=xxxxxxx

RED_ENLACE_USERNAME=
RED_ENLACE_ACCOUNT_ID=
RED_ENLACE_KEY_WEBSERVICE=
RED_ENLACE_ENVIRONMENT=development  # cambiar a 'production' cuando estés listo

FRONTEND_URL=http://localhost:5173
BACKEND_URL=